################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/.vs
/src/AFUtils/obj
/src/AFUtils/bin/
/src/AFUtils.Tests/obj/
/src/AFUtils.Tests/bin/
/src/SolutionExample/Services/ServiceA/ServiceA.Messages/bin/
/src/SolutionExample/Services/ServiceA/ServiceA.Messages/obj
