################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/.vs/
/src/AFBus/obj
/src/AFBus/bin/
/src/AFBus.Tests/obj/
/src/AFBus.Tests/bin/
/src/TestResults/
/src/SolutionExample/Services/ServiceA/ServiceA.Messages/bin/
/src/SolutionExample/Services/ServiceA/ServiceA.Messages/obj
/src/.vs
/src/SolutionExample/Workflows/WorkflowA/WorkflowA.Messages/bin/Debug
/src/SolutionExample/Workflows/WorkflowA/WorkflowA.Messages/obj/Debug
/src/AFUtils.Tests/obj/Debug
/src/AFUtils.Tests/bin/Debug
/src/AFUtils
/src/SolutionExample/Sagas/OrderSagaMessages/obj
/src/SolutionExample/Sagas/OrderSagaMessages/bin/Debug
/src/SolutionExample/Services/PaymentService.Messages/obj
/src/SolutionExample/Services/PaymentService.Messages/bin/Debug
/src/SolutionExample/Services/ShippingService.Messages/obj
/src/SolutionExample/Services/ShippingService.Messages/bin/Debug
